@model Market.Domain.Entities.ShopingDetails

@{
    ViewBag.Title = "Completed";
}

<h2>Спасибо за покупку</h2>
 Наши менеджеры скоро свяжутся с вами для подтверждения заказа!

<img src="~/Content/Img/8d3FcNBFW0Y.jpg"  class="img-circle center-block"/>

